body {
    font-family: "Courier New";
    color: #353535;
    background-color: #efefef;
    margin: 50px;
    width: 960px;
}

h1, h2, th {
    color: #2b522b;
}

h1 {
    margin: : auto;
}

table {
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
}

.inline {
    display: inline-block
}

#errorText {
    color: red;
}

#language {
    float: right;
}